#main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 99vh;
    width: 100vw;
}

button {
    height: 60px;
    width: 200px;
    background-color: rgba(223, 223, 223, 0.1);
    border: 1px solid gray;
    border-radius: 25px;
    position: relative;
    cursor: pointer;

}

span {
    margin-left: 20px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 700;
}

#icon {
    height: 25px;
    position: absolute;
    margin-right: 30px;
    left: 15px;
    bottom: 18px;
}

button:hover {
    background-color: rgba(223, 223, 223, 0.7);
}

a {
    height: 60px;
    width: 200px;
    background-color: rgba(223, 223, 223, 0.1);
    border: 1px solid gray;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    text-align: center;
    padding-top: 40px;
    outline: none;
    text-decoration: none;
    font-size: 20px;
    color: gray;

}

#gif1,
#gif2 {
    border-radius: 25px;
}

a:hover {
    background-color: rgba(224, 196, 196, 0.7);
}

#home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    width: 99vw;
}